h2{
	display: flex;
	align-items: center;
	font-weight: bold !important;
	font-size: 18px
}
h2 img{
	margin-right: 5px;
}
h2 .logo{
	height: 25px;
	display: flex !important;
	align-items: center;
	margin-bottom: 5px
}
h2 .logo span{
	margin-top: 5px
}
h2 .right{
	margin-left: auto;
}
.card-list{
	margin-top: 30px
}
.icons{
	display: flex;
	align-items: center;
	padding: 10px 0 0
}
.icons i{
	font-size: 16px;
	background-color: #222;
	color:#fff;
	padding: 5px;
	border-radius: 50%
}
ul.pagination {
    list-style-type: none;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
}
ul.pagination li{
	display: inline-block;
	font-size: 18px;
	margin-right: 10px
}
ul.pagination li.disabled{
	color: #777
}
ul.pagination li.active{
	font-weight: bold
}