.card{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	text-align: left
}
.card h2{
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 20px
}
.form-field{
	margin-bottom: 10px
}
.form-field label{
	display: block;
}
.form-field label input{
	display: block;
	width: calc(100% - 30px);
	margin: 0px
}
.msg strong{
	font-weight: normal
}
.foot{
	display: flex;
	align-items: center;
	margin-top: 10px
}
.foot button{
	margin: 0;
	margin-left: auto;
	text-transform: uppercase;
}
#presentation .title:after{
	background: rgba(0,0,0,0.55);
}