.fc-scroller{
	overflow: auto !important;
}
.fc-list-table{
	min-width: 400px
}
.fc-widget-header{
	padding: 10px !important;
	position: sticky;
	top: 0px
}
.fc-widget-header label {
	float: right;
	font-weight: 100;
	margin-left: 5px;
}
.fc-toolbar.fc-header-toolbar {
	margin-bottom: 0.4em;
}
.fc-right{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.fc-right > *{
	margin-bottom: 10px !important;
}
.fc-list-item{
	height: 50px;
}
.fc-list-item.canceled, .fc-list-item.finalized{
	display: none;
}
.fc-list-table.show-finalized .fc-list-item.finalized{
	display: table-row;
}
.fc-list-table.show-canceled .fc-list-item.canceled{
	display: table-row;
}
.fc-list-item > *{
	vertical-align: inherit !important;
}
.fc-list-item > .fc-list-item-time{
	padding: 0 10px;
	height: auto;
	width: 45px;
}
.fc-list-item > .fc-list-item-marker{
	padding: 0 5px;
	text-align: center;
	width: 10px;
}
.fc-list-item > .fc-list-item-title{
	padding: 0 10px;
	position: relative;
}
.fc-list-item > .fc-list-item-title > a{
	margin-right: 6px;
}
.fc-list-item > .fc-list-item-title > span.num_pers{
	font-size: 14px;
	color: #777;
	white-space: nowrap;
}
.fc-list-item > .fc-list-item-buttons{
	text-align: right;
	padding:0 10px;
	white-space: nowrap;
	width: 110px;
}
.fc-list-item > .fc-list-item-buttons > .cancel_reserve{
	margin-left: 10px;
	color: #cc1212;
}
.fc-list-item > .fc-list-item-buttons > .cancel_reserve:hover{
	text-decoration: none
}
.qtip > .qtip-titlebar{
	padding: 5px 10px;
}
.qtip > .qtip-titlebar > .qtip-title{
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 150px;
}
.qtip > .qtip-titlebar > .qtip-title > .time{
	margin-left: auto;
	font-weight: 100
}
.qtip > .qtip-content > .suggestions{
	margin: 5px 0 10px;
	font-size: 14px
}
.qtip > .qtip-content > .num_pers{
	font-weight: bold
}
.reserve_finished{
	color: #142635;
	margin-top: 5px
}

@media screen and (max-width:1024px){
	.fc-toolbar .fc-right{
		margin: 10px 0 0;
	}
	.fc-list-item > .fc-list-item-title > a{
		display: block;
	}
	.fc-left{
		float: none !important;
	}
	.fc-left h2{
		float: none !important;
	}
}