.content-panel{
	overflow: hidden;
}
.charts{
	position: relative;
	display: flex;
}
.charts > div{
	padding: 0 5px;
	overflow: hidden;
	padding: 10px;
}
.charts > .reserve_days{
	width: 285px;
	border: 1px dashed #ccc;
	background-color: #f9fcfe;
}
.charts > .reserve_days > div{
	position: relative;
	height: calc(100% - 75px);	
	top: 5px
}
.charts > .reserve_hours{
	padding-left: 20px;
	width: 470px
}
.charts h4{
	margin-bottom: 15px
}
.full_days{
	padding: 10px 10px 0;
	display: grid;
	grid-template-columns: 235px auto;
}
.ll-skin-melon .ui-widget {
	background: #f9fcfe;
	border: 1px solid #eee;
}	
.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover, .ll-skin-melon .ui-datepicker .ui-datepicker-next-hover, .ll-skin-melon .ui-datepicker .ui-datepicker-next, .ll-skin-melon .ui-datepicker .ui-datepicker-prev{
	background-color: #ced6d7;
	border-radius: 50%;
	top: .8em;
	width: 1.4em;
	height: 1.4em;
	margin: 0 5px;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-title {
	color: #777;
}
.ll-skin-melon .ui-datepicker-header{
	font-size: 12px;
}
.ll-skin-melon .ui-datepicker th{
	font-size: 10px;
	border-top: none;
	border-bottom: 1px solid #ddd;
	color: #000
}
.ll-skin-melon td .ui-state-default{
	padding: .4em;
	margin: .2em .3em;
	font-size: 12px;
	border-radius: 50%
}
.ui-datepicker {
	width: 225px;
}
.reserves_data{
	height: 245px;
	overflow: auto;
}
.reserves_data p{
	margin: 0px 10px 20px;
	text-align: center;
	font-size: 12px;
	padding: 20px 0;
}
.reserves_data_day {
	margin: 0px 10px 20px;
}
.reserves_data_day h4 {
	border-bottom: 1px solid #eee;
	margin: 10px 5px;
	display: flex;
	align-items: flex-start;
}
.reserves_data_day h4 span{
	margin-left: auto;
	font-size: 10px;
	color: #cb2020;
	text-transform: uppercase;
}
.reserves_data_day font {
	margin: 0 5px;
	font-size: 14px;
	display: block;
}
.reserves_data_day font span{
	font-weight: bold;
	color: #1c7f8e;
	margin-right: 2px
}
.full_days_none_js{
	padding: 0 10px;
}
@media screen and (max-width: 1024px){
	h4{
		font-size: 16px;
		white-space: nowrap;
	}
	.charts > .reserve_days{
		width: calc(40% - 30px);
		position: relative;
	}

	.charts > .reserve_days > div{
		position: relative;
		width: 100%;
		height: calc(100% - 55px) !important;
		top: 0px
	}

	.charts > .reserve_hours{
		width: calc(60% - 30px);
		padding-left: 20px
	}
}
@media screen and (max-width: 670px){
	.charts{
		display: block;
	}
	.charts > div{
		width: calc(100% - 20px);
		margin-bottom: 10px
	}
	.charts > .reserve_days{
		width: calc(100% - 20px);
	}
	.charts > .reserve_days > div{
		top: 0px;
		height: calc(100% - 55px) !important;
	}
	.charts > .reserve_hours{
		width: calc(100% - 20px);
		padding-left: 10px
	}
	.full_days{
		display: block;
	}
	.ui-datepicker {
		width: 100%;
	}
	.ll-skin-melon td .ui-state-default {
		font-size: 14px;
		width: 18px;
	}
	.reserves_data{
		margin-top: 10px;
		max-height: 300px;
		overflow: auto;
		height: auto;
	}
	.reserves_data_day {
		margin-left: 0px
	}
}