form > h4{
	position: sticky;
	top: 0px;
	background-color: rgba(255,255,255,0.95);
	z-index: 100;
	margin-bottom: 10px;
	border-bottom: 2px solid #eee;
	min-height: 35px;
}
.menu{
	position: relative;
	min-height: 25px
}
.toolbar{
	position: absolute;
	right: 0px;
	display: none;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
}
.editable .menu-section{
	cursor: move;
}
.editable .menu-section:hover > .toolbar, .editable .menu-section.editing > .toolbar{
	display: block;
}
.editable .menu-section.deleted, .editable .menu-item.deleted{
	border-bottom: none;
}
.editable .menu-section.deleted > *, .editable .menu-item.deleted > *{
	display: none !important;
}
.editable .menu-section.deleted > .ban, .editable .menu-item.deleted > .ban{
	display: block !important;
	padding: 5px;
	font-size: 12px;
	color: #aaa;
	background-color: #fbfbfb;
	border: 1px solid #f0f0f0;
	margin: 0;
	width: 100%;
}
.editable .menu-section.deleted > .ban > .name, .editable .menu-item.deleted > .ban > .name{
	color: #666;
}
.editable .menu-section.deleted > .ban > a, .editable .menu-item.deleted > .ban > a{
	text-transform: uppercase;
}
.editable .menu-items:empty, .editable .menu:empty {
	height: 25px;
	border: 2px dashed #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
.editable .menu-items:empty:before, .editable .menu:empty:before{
	content: 'Arrastre elementos aquí';
	font-size: 14px;
	color: #bbb;
	font-weight: 100
}
.editable .menu-item:hover > .toolbar, .editable .menu-item.editing > .toolbar{
	display: block;
}
.ui-draggable-dragging{
	width: auto !important;
	z-index: 100
}
.ui-draggable-dragging .toolbar{
	display: none !important;
}
.menu-section.ui-draggable-dragging{
	border-bottom: none
}
.menu-section.ui-draggable-dragging .menu-items{
	display: none
}
.menu-item.ui-draggable-dragging .price{
	display: none
}
.tooltip_templates{
	display: none
}
.option{
	margin: 5px 0;
}
.option > label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.option > label > :last-child{
	margin-left: 10px
}
.icons {
	overflow: auto;
	max-width: 245px;
	max-height: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: -5px
}
.icons a {
	width: 31px;
	height: 31px;
	margin: 5px;
	border-radius: 2px
}
.icons a.selected {
	background-color: #ddd;
}
input[type="number"]{
	width: 80px
}