.image-edit{
	display: grid;
	grid-template-columns: minmax(175px, 35%) 1fr;
	grid-column-gap: 15px;
	margin-top: 15px;
}
.image-edit > .img{
	border-radius: 3px;
	height: 235px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.image-edit > .img:after{
	content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}
.image-edit > form{
	position: relative;
}
.image-edit > form label > span{
	margin-bottom: 10px;
	display: block;
	font-size: 16px
}
.image-edit > form textarea{
	max-width: 100%;
	min-height: 90px
}
.image-edit > form .foot{
	margin-top: 15px
}
@media screen and (max-width: 620px){
	.image-edit{
		display: block;
	}
	.image-edit > .img{
		height: 90px;
		margin-bottom: 25px
	}
	.image-edit > form label > span{
		margin-bottom: 5px
	}
}