body{
	background-color: #fff;
}

header{
	position: absolute;
	z-index: 10000;
	top: 0px;

	background-color: transparent;
}
#presentation{
	position: relative;
	width:100vw;
	height:65vh;
	min-height: 450px;
	overflow:hidden;
}
#presentation .title{
	position: absolute;
	z-index: 100;
	top:0;
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}

#presentation .title > .center{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}
#presentation .title:after{
	content: ' ';
	background: rgba(0,0,0,0.45);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10
}
#presentation .background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/manager/img/welcome.jpg');
}
@media screen and (max-width: 1024px){
	#presentation .title > div{
		margin-top: 0px;
	}
}