.charts{
	position: relative;
}
.charts h4{
	margin-bottom: 15px
}
.charts .scheduler-stats{
	position: relative;
	display: flex;
	margin-top: 20px;
}
.charts > .scheduler-stats > div{
	position: relative;
	height: calc(100% - 105px);	
	top: 5px
}
.charts > .scheduler-stats > div h4{
	font-size: 14px;
}
.content{
	overflow: hidden;
	position: relative;
}
.charts  .reserve_types{
	width: 285px;
	border: 1px dashed #ccc;
	background-color: #f9fcfe;
	padding: 15px;
	height: 245px !important
}
.charts  .reserve_types > div{
	margin-top: 40px;
}
.charts .week_average_time{
	padding-left: 20px;
	width: 470px;
}

@media screen and (max-width: 1024px){
	h4{
		font-size: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block !important;
	}

	.charts .scheduler-stats{
		width: 100%
	}
	.charts .week_average_time{
		width: calc(60% - 35px);	
		position: relative;
		margin-right: 20px
	}
	.charts  .reserve_types{
		width: calc(40% - 50px);
		position: relative;
		height: auto !important
	}
	.charts  .reserve_types > div{
		margin-top: 0px;
	}
	.charts > .scheduler-stats > div{
		position: relative;
		height: auto;	
	}
}

@media screen and (max-width: 670px){
	.charts .scheduler-stats{
		display: block;
	}
	.charts .scheduler-stats > div{
		width: calc(100% - 20px);
		margin-bottom: 10px
	}
}