/* Presentation */
#presentation .title{
  align-items: baseline;
}
#presentation .title .center{
  position: relative;
  top: 50%;
  margin-top: -105px;
}
#presentation .title h1{
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  border:5px solid;
}

#presentation .title h1 , #presentation .title p{
  display: table;
  padding:10px;
  margin-bottom: 15px;
  color: white;
  max-width: 710px
}

#presentation .title p{
  margin: 10px 0;
  padding: 0;
}

.cards{
  display: grid;
  grid-template-columns: 30% calc(40% - 30px) 30%;
  grid-column-gap: 15px;
  margin-top: -170px;
  z-index: 100;
  position: relative;
}
.cards .card{
  height: 350px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #f2f2f2;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 6px 6px 0 rgba(0, 0, 0, 0.05);
}
.cards .card.green, .cards .card.red{
  height: 320px; margin-top:15px
}
.cards .card.green{
  color:#43b710;
}
.cards .card.green p{
  color:#c4cec2
}
.cards .card.purple{
  color:#9981f7;
}
.cards .card.purple p{
  color: #c7c4d5
}
.cards .card.red{
  color: #f65c34;
}
.cards .card.red p{
  color: #cec6c5
}
.cards .card .card-content{
  text-align: center;
}
.cards .card .card-content i{
  font-size: 64px
}
.cards .card .card-content p{
  font-size: 15px;
  padding: 5px 10px
}
main{
  margin-top: 70px !important
}
section{
  margin: 45px 0
}
section h2{
  display: block !important;
  text-align: center;
  position: relative;
  font-weight: bold !important;
  font-size: 56px;
  color: #f8f8f8;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow:hidden;
  margin-right: 15px
}
section h2:after{
  content: attr(text);
  position: absolute;
  left: 0px;
  width: 100%;
  color: #000;
  font-size: 26px;
  justify-content: center;
  align-items: flex-end;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 30px
}
section p{
  font-size: 16px;
  color: #aaa;
  text-align: center;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.card-grid{
  margin-top: 30px
}
.card-grid .card{
  border-radius: 2px
}
.card-grid .card-thumbnail{
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 2px
}
.card-grid .card-thumbnail .card-thumbnail-title{
  text-align: center;
  padding-bottom: 10px;
  background: rgba(0,0,0,0.6);
  padding: 10px
}
.card-grid .card-thumbnail .card-thumbnail-title > *{
  margin: 5px 0
}
.card-grid .card-thumbnail .card-thumbnail-title h5{
  color: #fff;
  font-weight: 100;
  font-size: 21px;
}
.card-grid .card-thumbnail .card-thumbnail-title font{
  color:#bbb;
  font-size: 12px
}
.card-grid .card-thumbnail .card-thumbnail-title p{
  color: #ddd;
  font-size: 12px
}
footer.center{
  padding: 40px 0 20px;
  width: calc(100% - 50px);
  display: flex;
  align-items: center; 
  font-size: 12px;
  color: #777
}
footer span:last-child{
  margin-left: auto;
}
@media screen and (max-width: 1024px){

  #presentation .title a{
    bottom: -10px;
  }

  #presentation .title a > i{
    font-size: 25px
  }
}

@media screen and (max-width: 670px){
  #presentation .title h1{
    font-size: 0.85rem;
    margin-bottom: 5px;
  }
  .cards{
    display: block;
    width: 90%;
    margin-top: -170px !important;
  }
  .cards .card{
    width: calc(100% - 30px);
    margin: 5px auto 10px;
    height: 250px !important;
  }
  section h2:after{
    font-size: 20px
  }
  footer{
    display: block !important;
    text-align: center;
  }
  footer span{
    display: block;
    margin-top: 5px
  }
}
